.description {
  width: 740px;
  height: 320px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  align-content: center;
  border-radius: 20px;
  padding: 10px 25px;
}

.description__container {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: #121111;
  gap: 20px;
  align-items: center;
  font-weight: 700;
}

.description__text-one {
  margin: 0;
}

.description__text-two {
  margin: 0;
}

.description__text-three {
  margin: 0;
}
