.header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

.header_type_landing-page {
  background: transparent;
}

.header__info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo {
  width: 30px;
  height: 30px;
}

.header__title {
  color: #ffffff;
  font-size: 2.5em;
  margin: 0;
}

.header__user-container {
  display: flex;
  gap: 20px;
}

.header__user-avatar {
  width: 50px;
  height: 50px;
}

.header__login-container {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 20px;
}

.header__signup-button {
  width: 130px;
  height: 45px;
  background-color: #2b2a2a;
  color: white;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
}

.header__signin-button {
  width: 130px;
  height: 45px;
  background-color: #2b2a2a;
  color: white;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
}

.header__signup:hover {
  opacity: 0.7;
}

.header__signin:hover {
  opacity: 0.7;
}
