.header {
  padding: 20px;
  text-align: center;
  /* font-family: 'Athiti', 'Helvetica Neue', Arial, sans-serif; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__trip_title {
  color: #2b2a2a;
  font-size: 38px;
  line-height: 1.5;
}

.header__logo {
  width: 40px;
  height: 40px;
}

.header__column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header_type_landing-page {
  background: transparent;
}

.header__info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__title {
  color: #ffffff;
  font-size: 2.5em;
  margin: 0;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  gap: 20px;
}

.header__user-avatar {
  width: 50px;
  height: 50px;
}

.header__login-container {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 20px;
}

.header__signup-button {
  width: 130px;
  height: 45px;
  background-color: #2b2a2a;
  color: white;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  border: none;
  transition: scale 0.2s ease-in-out;
}

.header__signin-button {
  width: 130px;
  height: 45px;
  background-color: #2b2a2a;
  color: white;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  border: none;
  transition: scale 0.2s ease-in-out;
}

.header__signup-button:hover,
.header__signin-button:hover {
  scale: 1.05;
}

.header__signup:hover {
  opacity: 0.7;
}

.header__signin:hover {
  opacity: 0.7;
}
