@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.main {
  background-color: rgb(248, 249, 250, 0.3);
  display: flex;
  gap: 20px;
  flex: 1 0 auto; /* used for sticky footer to keep it at the bottom of the page */
  border-radius: 8px;
  animation: fadeIn 0.6s ease-in-out, slideUp 0.6s ease-in-out;
}

.main_type_landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  animation: fadeIn 0.6s ease-in-out, slideUp 0.6s ease-in-out;
  padding: 60px 80px;
  height: 60vh;
}

.main_type_expenses {
  display: flex;
  flex-direction: column;
}

.main_type_dashboard {
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
