.page {
   font-family: 'Athiti', 'Helvetica Neue', Arial, sans-serif;
  background-color: wheat;
  background-image: url(../images/jakub-zerdzicki-heiYgqp0Tsk-unsplash\ 1.svg);
  background-position: center;
  background-size: cover;
  color: #f1f1f1;;
}

.page__content {
  max-width: 1360px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
